body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.err {
    font-size: 140px;
    font-weight: bold;
    color: #00e5ff;
}

h2 {
    margin: 10px 0;
    font-size: 24px;
    color: #0b0f1a;
}

p {
    color: #888;
}

.btn {
    margin-top: 25px;
    padding: 16px 40px;
    font-size: 18px;
    background: #ff004c;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background: #ff3366;
    transform: scale(1.05);
}

.email {
    display: block;
    margin-top: 15px;
    font-size: 16px;
    color: #0066ff;
    text-decoration: none;
}

.email:hover {
    text-decoration: underline;
}